{% extends "layouts/base.html" %}

{% block title %} Menu Item Form for {{ restaurant.name }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load widget_tweaks %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h2 class="card-title"> Menu Item Form for "{{ restaurant.name }}"</h2>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                      
                        {% for hidden_field in form.hidden_fields %}
                          {{ hidden_field }}
                        {% endfor %}
                      
                        {% if form.non_field_errors %}
                          <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                              {{ error }}
                            {% endfor %}
                          </div>
                        {% endif %}
                      
                        {% for field in form.visible_fields %}
                          <div class="form-group">
                            {{ field.label_tag }}
                      
                            {% if form.is_bound %}
                              {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                  <div class="invalid-feedback">
                                    {{ error }}
                                  </div>
                                {% endfor %}
                              {% else %}
                                {% render_field field class="form-control is-valid" %}
                              {% endif %}
                            {% else %}
                              {% render_field field class="form-control" %}
                            {% endif %}
                      
                            {% if field.help_text %}
                              <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                          </div>
                        {% endfor %}
                      
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a class="ml-2" href="{% url 'restaurant_detail' restaurant.pk %}">Cancel</a>
                        </div>
                    </form>                                  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
