<!-- Modal -->
<div class="modal fade" id="confirmationDeleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h4 class="modal-title" id="mySmallModalLabel">Are you sure you want to delete?</h4>          
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary mr-2 confirmed">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>